/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

.notice{
  width: 400px;
  margin:20px auto;
  text-align: center;
  background-color: green;
  color: white;
}

.alert{
  width: 400px;
  margin:20px auto;
  text-align: center;
  background-color: red;
  color: white;
}

.error-box{
  color: red;
  text-align: center;
}

.header-link{
	color:white;
}

.img-photo{
	border-radius: 50%;
}

.footer{
	width: 100%;
	height: 100px;
	background-color: #D7EEFF;
}

.log{
  background: url(80.3.jpg) no-repeat center;
  width: 100%;
  height: 900px;
  background-size: cover;
  padding: 100px;
  position: relative;
  z-index: 0;
  text-align: center;
}
.log:before{
  content: '';
  width: 100%;
  height: 900px;
  background: inherit;
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.log-box{
  	background-color: rgba( 0, 0, 0, 0.5);
	padding-bottom: 30px;
	margin:0 auto;
	width: 400px;
	padding-top: 20px;
}

.log-box span{
  color: white;
}

.log-box h2{
	padding-bottom: 20px;
  color: white;
}

.field{
	padding-bottom: 10px;
}

.actions{
  padding-bottom: 10px;
}


.blog_slick{
  width: 400px;

}

.slick-arrow{
  background-color: gray !important;
  border-radius: 50%;
}





















