// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.blog-header{
	width:100%;
	height: 250px;
	background-image: image-url("Maldives.jpg");
	background-size: cover;
	background-position: center;
}

// index

.blog-main{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	background: linear-gradient(#fffde4, #005aa7);
	padding: 0 20px 30px 20px;
}

@media screen and (max-width: 768px){
	.blog-main{
		display: block;
	}
}

.blog-center{
	text-align: center;
	width: 100%;
}

.blog-main .blog-center{
	width: calc(100% - 330px);
	max-width: 700px;
}

@media screen and (max-width: 768px){
	.blog-main .blog-center{
		width:100%;
	}
}

.blog-index-title{
	background-color: #fffde4;
	padding: 30px 0;
}

// ~..一覧文字
.blog-index-title h1{
	margin:0;
	padding-top: 20px;
	padding-bottom: 10px;
}

// hover文字
.blog-index-hover{
	display: none;
	color:#FF00FF;
	font-size: 20px;
	text-shadow: none;
}


.blog-index-active{
	display:block;
}


.blog-title{
	font-size: 20px;
}


.img-photo{
	margin-top: 20px;
}

.blog-index-box{
	border:solid 2px black;
	margin: 0;
	margin-bottom: 30px;
	background-color: white;
	padding-bottom:50px;
}

.blog-main h1{
	text-align: center;
	width: 100%;
	padding-bottom: 60px;
}

.slick-list{
	background-color: silver;
}



.blog_slick{
	margin:0 auto;
}


img.blog_slick-image{
	width: 100%;
	height: 450px;
	object-fit: contain;
}

@media screen and(max-width: 768px){
	img.blog_slick-image{
		height: 200px;
	}
}


// カテゴリー

.category-box{
	width: 250px;
	border: solid 2px black;
	margin: 0 0 0 80px;
	background-color: white;
}

.category-box h3{
	border-bottom: solid 2px black;
	text-align: center;
	padding-bottom: 20px;
}

.category-box h4{
	text-align: center;

}

@media screen and(max-width: 768px){
	.category-box{
		width: 100%;
		margin:0;
		margin-bottom: 40px;
	}
	.category-box-h4{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.category-box h4{
		text-align: center;
		padding:0 30px;
	}
}




// new

.blog-main-new{
	background: linear-gradient(#fffde4, #005aa7);
}

.blog-main-new h1{
	text-align: center;
	margin-top: 0;
	padding-top: 20px;
}

.blog-new-hover{
	display: none;
	text-shadow: none;
	color: #FF00FF;
}

.blog-new-box .blog-new-box{
	margin: 30px;
}

.blog-new-form-box{
	display: flex;
	margin: 2px;
	// 指定した幅を超える場合、折り返しする
	flex-flow: wrap;
}

.blog-new-form{
	width: 45%;
	margin:0 auto;
	border:solid 1px black;
	background-color:#CCFFFF;
}

@media screen and(max-width: 768px){
	.blog-new-form{
		width: 80%;
	}
}

.blog-new-box{
	padding-bottom: 60px;
}

.new-form-btn{
	width: 100%;
	text-align: center;
}

.blog-image{
	margin:3px;
}




// コメント

#comment_comment{
        width: 80%;
    }



// show

.blog-show-main{
	display: flex;
	justify-content:center;
	background: linear-gradient(#fffde4, #005aa7);
}

.blog-show-box{
	background-color: white;
	width: 80%;
	text-align: center;
	margin: 100px 0 ;
	padding-bottom: 30px;
}

.blog-show-box2{
	width: 80%;
	margin:0 auto;
}

.show-comment-form{
	padding:50px 0 30px 0;
}

.show-link-box{
	padding:20px;
}

.blog-show-image{
	display: flex;
    justify-content: center;
}

.blog-show-dm-btn{
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-top: 20px;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;
  border: solid 1px #0f9ada;
  border-radius: 50px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}


// edit

.blog-edit-main h1{
	text-align: center;
}

.blog-edit-box{
	margin: 30px;
}

.blog-edit-form-box{
	display: flex;
	margin: 2px;
	// 指定した幅を超える場合、折り返しする
	flex-flow: wrap;
}




.blog-edit-form{
	width: 45%;
	margin:0 auto;
	border:solid 1px black;
	background-color:#CCFFFF;
}

@media screen and(max-width: 768px){
	.blog-edit-form{
		width: 100%;
	}
}


.blog-edit-form-btn{
	width: 100%;
	text-align: center;
}






// 入力画面の幅

#blog_title{
  width: 100%;
}

#blog_body{
  width: 100%;
}

#blog_map{
  width: 100%;
}


























