// Place all the styles related to the ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ranks-header{
	width: 100%;
	height: 250px;
	background-image: image-url("entry2017-016-1-1024x576");
	background-size: cover;
	background-position: center;
}

.ranks-main{
	width: 100%;
	background-color: #fffde4;
}

.ranks-box{
	margin:0 auto;
	width: 50%;
	text-align: center;
	padding-bottom: 30px;
}

.ranks-box2{
	padding-bottom: 20px;
	border-bottom: solid 2px black;
}

.ranks-hover{
	display: none;
	text-shadow: none;
	color: #FF00FF;
}

.ranks-box h3{
	font-size: 50px;
}