// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.follows-header{
	width:100%;
	height: 250px;
	background-image: image-url("travel-frend.jpg");
	background-size: cover;
	background-position: center;
}


.follows-box{
	width: 100%;
	text-align: center;
	padding: 50px 0;
}


.follows-box2{
	border:solid 1px black;
	background-color:#CCFFFF;
	width: 50%;
	margin:30px auto;
	padding:50px;

}

